/1st_test/
/2nd_test/
/4th_test/
/1st_test-ch1.csv
/1st_test-ch2.csv
/1st_test-ch3.csv
/1st_test-ch4.csv
/1st_test-ch5.csv
/1st_test-ch6.csv
/1st_test-ch7.csv
/1st_test-ch8.csv
/22.py
/2nd_test.py
/merged_dataset_BearingTest_2.csv
